ops/n8n-workflows/01-billing-pipeline.json
{
  "name": "01 — Billing Pipeline (Stripe → DB → Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-subscription",
        "options": {
          "rawBody": true
        }
      },
      "id": "stripe-webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-event",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "customer.subscription.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-event",
      "name": "Is subscription.created?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET plan = 'pro', plan_updated_at = NOW() WHERE stripe_customer_id = '{{ $json.body.data.object.customer }}' RETURNING id, email;",
        "options": {}
      },
      "id": "update-db",
      "name": "Update DB → Pro",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Sergeant Postgres"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🎉 *Нова Pro-підписка!*\n\nEmail: {{ $json.body.data.object.customer_email || 'N/A' }}\nПлан: {{ $json.body.data.object.items.data[0].price.recurring.interval }}ly\nСума: ₴{{ Math.round($json.body.data.object.items.data[0].price.unit_amount / 100) }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram → #revenue",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Sergeant Ops Bot"
        }
      }
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [{ "node": "Is subscription.created?", "type": "main", "index": 0 }]
      ]
    },
    "Is subscription.created?": {
      "main": [[{ "node": "Update DB → Pro", "type": "main", "index": 0 }]]
    },
    "Update DB → Pro": {
      "main": [[{ "node": "Telegram → #revenue", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv"
  },
  "tags": [{ "name": "billing" }, { "name": "stripe" }, { "name": "revenue" }]
}
