ops/n8n-workflows/01-billing-pipeline.json
{
  "name": "01 — Billing Pipeline (Stripe → Internal API → Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-subscription",
        "options": {
          "rawBody": true
        }
      },
      "id": "stripe-webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verify Stripe webhook signature (HMAC-SHA256).\n// Docs: https://stripe.com/docs/webhooks/signatures\nconst crypto = require('crypto');\n\nconst item = $input.first();\nconst rawBody = item.json.rawBody;\nconst sigHeader = item.json.headers['stripe-signature'] || '';\nconst secret = $env.STRIPE_WEBHOOK_SECRET;\n\nif (!secret) throw new Error('STRIPE_WEBHOOK_SECRET is not set');\nif (!sigHeader) throw new Error('Missing stripe-signature header');\n\n// Parse: t=<ts>,v1=<hex>\nconst parts = {};\nfor (const part of sigHeader.split(',')) {\n  const [k, v] = part.split('=');\n  if (k && v) parts[k] = v;\n}\nif (!parts.t || !parts.v1) throw new Error('Invalid stripe-signature format');\n\n// Replay attack guard: 5-minute window\nconst timeDiff = Math.abs(Date.now() / 1000 - parseInt(parts.t, 10));\nif (timeDiff > 300) throw new Error('Stripe webhook timestamp too old (>5 min)');\n\nconst payload = `${parts.t}.${rawBody}`;\nconst expected = crypto.createHmac('sha256', secret).update(payload).digest('hex');\n\nconst expectedBuf = Buffer.from(expected, 'hex');\nconst receivedBuf = Buffer.from(parts.v1, 'hex');\nif (expectedBuf.length !== receivedBuf.length || !crypto.timingSafeEqual(expectedBuf, receivedBuf)) {\n  throw new Error('Stripe signature mismatch');\n}\n\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Stripe Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO webhook_events (source, event_id)\nVALUES ('stripe', '{{ $('Stripe Webhook').item.json.body.id }}')\nON CONFLICT (source, event_id) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "idempotency-check",
      "name": "Idempotency Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Sergeant Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "already-processed",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-new-event",
      "name": "New event?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "verify-event-type",
              "leftValue": "={{ $('Stripe Webhook').item.json.body.type }}",
              "rightValue": "customer.subscription.created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-event",
      "name": "Is subscription.created?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SERVER_INTERNAL_URL }}/api/internal/billing/upgrade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"stripeCustomerId\": \"{{ $('Stripe Webhook').item.json.body.data.object.customer }}\" }",
        "options": {}
      },
      "id": "billing-upgrade",
      "name": "Billing API → Upgrade to Pro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=🎉 *Нова Pro-підписка!*\n\nCustomer: {{ $('Stripe Webhook').item.json.body.data.object.customer }}\nПлан: {{ $('Stripe Webhook').item.json.body.data.object.items.data[0]?.price?.recurring?.interval }}ly\nСума: ₴{{ Math.round(($('Stripe Webhook').item.json.body.data.object.items.data[0]?.price?.unit_amount || 0) / 100) }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram → #revenue",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 300],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Sergeant Ops Bot"
        }
      }
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [{ "node": "Verify Stripe Signature", "type": "main", "index": 0 }]
      ]
    },
    "Verify Stripe Signature": {
      "main": [[{ "node": "Idempotency Insert", "type": "main", "index": 0 }]]
    },
    "Idempotency Insert": {
      "main": [[{ "node": "New event?", "type": "main", "index": 0 }]]
    },
    "New event?": {
      "main": [
        [{ "node": "Is subscription.created?", "type": "main", "index": 0 }]
      ]
    },
    "Is subscription.created?": {
      "main": [
        [{ "node": "Billing API → Upgrade to Pro", "type": "main", "index": 0 }]
      ]
    },
    "Billing API → Upgrade to Pro": {
      "main": [[{ "node": "Telegram → #revenue", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv"
  },
  "tags": [{ "name": "billing" }, { "name": "stripe" }, { "name": "revenue" }]
}
