ops/n8n-workflows/02-failed-payment-recovery.json
{
  "name": "02 — Failed Payment Recovery (Stripe → Telegram + Resend + Downgrade API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-payment-failed",
        "options": { "rawBody": true }
      },
      "id": "stripe-webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verify Stripe webhook signature (HMAC-SHA256).\nconst crypto = require('crypto');\n\nconst item = $input.first();\nconst rawBody = item.json.rawBody;\nconst sigHeader = item.json.headers['stripe-signature'] || '';\nconst secret = $env.STRIPE_WEBHOOK_SECRET;\n\nif (!secret) throw new Error('STRIPE_WEBHOOK_SECRET is not set');\nif (!sigHeader) throw new Error('Missing stripe-signature header');\n\nconst parts = {};\nfor (const part of sigHeader.split(',')) {\n  const [k, v] = part.split('=');\n  if (k && v) parts[k] = v;\n}\nif (!parts.t || !parts.v1) throw new Error('Invalid stripe-signature format');\n\nconst timeDiff = Math.abs(Date.now() / 1000 - parseInt(parts.t, 10));\nif (timeDiff > 300) throw new Error('Stripe webhook timestamp too old (>5 min)');\n\nconst payload = `${parts.t}.${rawBody}`;\nconst expected = crypto.createHmac('sha256', secret).update(payload).digest('hex');\n\nconst expectedBuf = Buffer.from(expected, 'hex');\nconst receivedBuf = Buffer.from(parts.v1, 'hex');\nif (expectedBuf.length !== receivedBuf.length || !crypto.timingSafeEqual(expectedBuf, receivedBuf)) {\n  throw new Error('Stripe signature mismatch');\n}\n\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify Stripe Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO webhook_events (source, event_id)\nVALUES ('stripe', '{{ $('Stripe Webhook').item.json.body.id }}')\nON CONFLICT (source, event_id) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "idempotency-check",
      "name": "Idempotency Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Sergeant Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "already-processed",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-new-event",
      "name": "New event?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "verify-event",
              "leftValue": "={{ $('Stripe Webhook').item.json.body.type }}",
              "rightValue": "invoice.payment_failed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "filter-event",
      "name": "Is payment_failed?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=⚠️ *Failed payment*\n\nCustomer: {{ $('Stripe Webhook').item.json.body.data.object.customer_email || 'N/A' }}\nAmount: ₴{{ Math.round(($('Stripe Webhook').item.json.body.data.object.amount_due || 0) / 100) }}\nAttempt: {{ $('Stripe Webhook').item.json.body.data.object.attempt_count }}/4",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-alert",
      "name": "Telegram → #incidents",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 200],
      "credentials": {
        "telegramApi": { "id": "CONFIGURE_ME", "name": "Sergeant Ops Bot" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Sergeant <support@sergeant.app>\",\n  \"to\": [\"{{ $('Stripe Webhook').item.json.body.data.object.customer_email }}\"],\n  \"subject\": \"Sergeant: оновіть платіжну картку\",\n  \"html\": \"<h2>Оплата не пройшла</h2><p>Ваша картка не спрацювала. Будь ласка, оновіть платіжні дані у <a href=\\\"https://sergeant.app/settings/billing\\\">налаштуваннях</a>.</p>\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Resend → update card email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400],
      "credentials": {
        "httpHeaderAuth": { "id": "CONFIGURE_ME", "name": "Resend (Bearer)" }
      }
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] }
      },
      "id": "wait-24h",
      "name": "Wait 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-attempt",
              "leftValue": "={{ $('Stripe Webhook').item.json.body.data.object.attempt_count }}",
              "rightValue": 4,
              "operator": { "type": "number", "operation": "gte" }
            }
          ]
        }
      },
      "id": "max-retries",
      "name": "Attempts >= 4?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SERVER_INTERNAL_URL }}/api/internal/billing/downgrade",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"stripeCustomerId\": \"{{ $('Stripe Webhook').item.json.body.data.object.customer }}\" }",
        "options": {}
      },
      "id": "billing-downgrade",
      "name": "Billing API → Downgrade to Free",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [{ "node": "Verify Stripe Signature", "type": "main", "index": 0 }]
      ]
    },
    "Verify Stripe Signature": {
      "main": [[{ "node": "Idempotency Insert", "type": "main", "index": 0 }]]
    },
    "Idempotency Insert": {
      "main": [[{ "node": "New event?", "type": "main", "index": 0 }]]
    },
    "New event?": {
      "main": [[{ "node": "Is payment_failed?", "type": "main", "index": 0 }]]
    },
    "Is payment_failed?": {
      "main": [
        [
          { "node": "Telegram → #incidents", "type": "main", "index": 0 },
          { "node": "Resend → update card email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Resend → update card email": {
      "main": [[{ "node": "Wait 24h", "type": "main", "index": 0 }]]
    },
    "Wait 24h": {
      "main": [[{ "node": "Attempts >= 4?", "type": "main", "index": 0 }]]
    },
    "Attempts >= 4?": {
      "main": [
        [
          {
            "node": "Billing API → Downgrade to Free",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Kyiv" },
  "tags": [{ "name": "billing" }, { "name": "stripe" }, { "name": "recovery" }]
}
