ops/n8n-workflows/05-renovate-pr-auto-handler.json
{
  "name": "05 — Renovate PR Auto-Handler (GitHub → auto-merge / Telegram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "options": { "rawBody": true }
      },
      "id": "github-webhook",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Verify GitHub webhook HMAC-SHA256 signature.\n// Header: x-hub-signature-256 (format: sha256=<hex>)\n// Docs: https://docs.github.com/en/webhooks/using-webhooks/validating-webhook-deliveries\nconst crypto = require('crypto');\n\nconst item = $input.first();\nconst rawBody = item.json.rawBody;\nconst received = (item.json.headers['x-hub-signature-256'] || '').replace('sha256=', '');\nconst secret = $env.GITHUB_WEBHOOK_SECRET;\n\nif (!secret) throw new Error('GITHUB_WEBHOOK_SECRET is not set');\nif (!received) throw new Error('Missing x-hub-signature-256 header');\n\nconst expected = crypto.createHmac('sha256', secret).update(rawBody).digest('hex');\n\nconst expBuf = Buffer.from(expected, 'hex');\nconst recBuf = Buffer.from(received, 'hex');\nif (expBuf.length !== recBuf.length || !crypto.timingSafeEqual(expBuf, recBuf)) {\n  throw new Error('GitHub signature mismatch');\n}\n\nreturn $input.all();"
      },
      "id": "verify-signature",
      "name": "Verify GitHub Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO webhook_events (source, event_id)\nVALUES ('github', '{{ $('GitHub Webhook').item.json.headers[\"x-github-delivery\"] || gen_random_uuid()::text }}')\nON CONFLICT (source, event_id) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "idempotency-check",
      "name": "Idempotency Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Sergeant Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "already-processed",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-new-event",
      "name": "New event?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-renovate",
              "leftValue": "={{ $('GitHub Webhook').item.json.body.pull_request.user.login }}",
              "rightValue": "renovate[bot]",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "is-opened",
              "leftValue": "={{ $('GitHub Webhook').item.json.body.action }}",
              "rightValue": "opened",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-renovate",
      "name": "Renovate PR opened?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "is-patch",
              "leftValue": "={{ $('GitHub Webhook').item.json.body.pull_request.title }}",
              "rightValue": "fix(deps):",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ]
        }
      },
      "id": "check-semver",
      "name": "Is patch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Skords-01/Sergeant/pulls/{{ $('GitHub Webhook').item.json.body.pull_request.number }}/reviews",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            { "name": "Accept", "value": "application/vnd.github+json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"event\": \"APPROVE\", \"body\": \"Auto-approved patch update by n8n ops bot.\" }"
      },
      "id": "auto-approve",
      "name": "Auto-approve patch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=📦 *Renovate PR (non-patch)*\n\n[#{{ $('GitHub Webhook').item.json.body.pull_request.number }}]({{ $('GitHub Webhook').item.json.body.pull_request.html_url }}) — {{ $('GitHub Webhook').item.json.body.pull_request.title }}\n\nNeeds manual review.",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-review",
      "name": "Telegram → review needed",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 400],
      "credentials": {
        "telegramApi": { "id": "CONFIGURE_ME", "name": "Sergeant Ops Bot" }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Verify GitHub Signature", "type": "main", "index": 0 }]
      ]
    },
    "Verify GitHub Signature": {
      "main": [[{ "node": "Idempotency Insert", "type": "main", "index": 0 }]]
    },
    "Idempotency Insert": {
      "main": [[{ "node": "New event?", "type": "main", "index": 0 }]]
    },
    "New event?": {
      "main": [[{ "node": "Renovate PR opened?", "type": "main", "index": 0 }]]
    },
    "Renovate PR opened?": {
      "main": [[{ "node": "Is patch?", "type": "main", "index": 0 }]]
    },
    "Is patch?": {
      "main": [
        [{ "node": "Auto-approve patch", "type": "main", "index": 0 }],
        [{ "node": "Telegram → review needed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Kyiv" },
  "tags": [{ "name": "renovate" }, { "name": "github" }, { "name": "deps" }]
}
