ops/n8n-workflows/06-mono-webhook-enrichment.json
{
  "name": "06 — Mono Webhook Enrichment (Mono → AI categorize → budget alert)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mono-transaction",
        "options": { "rawBody": true }
      },
      "id": "mono-webhook",
      "name": "Mono Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Categorize this Ukrainian bank transaction.\nDescription: {{ $('Mono Webhook').item.json.body.data.description }}\nAmount: {{ Math.abs(($('Mono Webhook').item.json.body.data.amount || 0) / 100).toFixed(2) }} UAH\nMCC: {{ $('Mono Webhook').item.json.body.data.mcc || 'unknown' }}\n\nReturn ONLY valid JSON matching the schema. No markdown, no prose."
      },
      "id": "chain-llm",
      "name": "AI Categorize (LLM Chain)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {
          "maxTokens": 150
        }
      },
      "id": "anthropic-model",
      "name": "Claude Haiku",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [360, 500],
      "credentials": {
        "anthropicApi": {
          "id": "CONFIGURE_ME",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"category\":{\"type\":\"string\",\"enum\":[\"groceries\",\"transport\",\"dining\",\"entertainment\",\"utilities\",\"health\",\"shopping\",\"education\",\"subscriptions\",\"income\",\"transfer\",\"other\"]},\"confidence\":{\"type\":\"number\",\"minimum\":0,\"maximum\":1}},\"required\":[\"category\",\"confidence\"]}"
      },
      "id": "output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [560, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(SUM(ABS(amount) / 100.0), 0)::numeric AS monthly_spent\nFROM mono_transaction\nWHERE user_id = '{{ $('Mono Webhook').item.json.body.user_id }}'\n  AND time >= date_trunc('month', NOW())\n  AND amount < 0;",
        "options": {}
      },
      "id": "check-budget",
      "name": "Check monthly budget",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [700, 300],
      "credentials": {
        "postgres": { "id": "CONFIGURE_ME", "name": "Sergeant Postgres" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "over-budget",
              "leftValue": "={{ Number($json.monthly_spent) }}",
              "rightValue": 15000,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      },
      "id": "budget-threshold",
      "name": "Over ₴15K threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "=💸 *Budget alert*\n\nMonthly spending: ₴{{ Math.round($('Check monthly budget').item.json.monthly_spent) }}\nThreshold: ₴15,000\n\nLatest: {{ $('Mono Webhook').item.json.body.data.description }} (₴{{ Math.abs(($('Mono Webhook').item.json.body.data.amount || 0) / 100) }})\nAI category: *{{ $('AI Categorize (LLM Chain)').item.json.output.category }}* ({{ Math.round(($('AI Categorize (LLM Chain)').item.json.output.confidence || 0) * 100) }}%)",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-budget",
      "name": "Telegram → budget alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1140, 200],
      "credentials": {
        "telegramApi": { "id": "CONFIGURE_ME", "name": "Sergeant Ops Bot" }
      }
    }
  ],
  "connections": {
    "Mono Webhook": {
      "main": [
        [{ "node": "AI Categorize (LLM Chain)", "type": "main", "index": 0 }]
      ]
    },
    "Claude Haiku": {
      "ai_languageModel": [
        [
          {
            "node": "AI Categorize (LLM Chain)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Categorize (LLM Chain)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorize (LLM Chain)": {
      "main": [[{ "node": "Check monthly budget", "type": "main", "index": 0 }]]
    },
    "Check monthly budget": {
      "main": [[{ "node": "Over ₴15K threshold?", "type": "main", "index": 0 }]]
    },
    "Over ₴15K threshold?": {
      "main": [
        [{ "node": "Telegram → budget alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Kyiv" },
  "tags": [
    { "name": "finyk" },
    { "name": "mono" },
    { "name": "ai" },
    { "name": "budget" }
  ]
}
