ops/n8n-workflows/06-mono-webhook-enrichment.json
{
  "name": "06 - Mono AI Enrichment (server outbox -> categorize -> budget alert)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "schedule",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [180, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH next_jobs AS (\n  SELECT q.id, q.user_id, q.mono_tx_id, t.description, t.amount, t.mcc\n  FROM mono_ai_enrichment_queue q\n  JOIN mono_transaction t\n    ON t.user_id = q.user_id AND t.mono_tx_id = q.mono_tx_id\n  WHERE q.status IN ('pending', 'failed')\n    AND q.available_at <= NOW()\n    AND q.attempts < 5\n  ORDER BY q.available_at ASC, q.id ASC\n  LIMIT 10\n  FOR UPDATE SKIP LOCKED\n), claimed AS (\n  UPDATE mono_ai_enrichment_queue q\n  SET status = 'processing', attempts = q.attempts + 1, updated_at = NOW()\n  FROM next_jobs j\n  WHERE q.id = j.id\n  RETURNING q.id, j.user_id, j.mono_tx_id, j.description, j.amount, j.mcc\n)\nSELECT * FROM claimed;",
        "options": {}
      },
      "id": "claim-jobs",
      "name": "Claim pending enrichment jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {
        "postgres": { "id": "CONFIGURE_ME", "name": "Sergeant Postgres" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SERVER_INTERNAL_URL }}/api/internal/categorize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.INTERNAL_API_KEY }}"
            },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"description\": \"{{ $json.description }}\",\n  \"amount\": {{ $json.amount || 0 }},\n  \"mcc\": {{ $json.mcc || 0 }}\n}",
        "options": {}
      },
      "id": "categorize-internal",
      "name": "POST /api/internal/categorize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE mono_transaction\nSET ai_category_slug = '{{ $json.category || \"other\" }}',\n    ai_category_confidence = {{ $json.confidence || 0 }},\n    ai_categorized_at = NOW()\nWHERE user_id = '{{ $('Claim pending enrichment jobs').item.json.user_id }}'\n  AND mono_tx_id = '{{ $('Claim pending enrichment jobs').item.json.mono_tx_id }}';\n\nUPDATE mono_ai_enrichment_queue\nSET status = 'done', processed_at = NOW(), updated_at = NOW(), last_error = NULL\nWHERE id = {{ $('Claim pending enrichment jobs').item.json.id }};",
        "options": {}
      },
      "id": "mark-done",
      "name": "Persist AI category and mark done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 220],
      "credentials": {
        "postgres": { "id": "CONFIGURE_ME", "name": "Sergeant Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE mono_ai_enrichment_queue\nSET status = 'failed',\n    last_error = LEFT('{{ JSON.stringify($json.error || $json) }}', 1000),\n    available_at = NOW() + INTERVAL '15 minutes',\n    updated_at = NOW()\nWHERE id = {{ $('Claim pending enrichment jobs').item.json.id }};",
        "options": {}
      },
      "id": "mark-failed",
      "name": "Mark enrichment failed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 420],
      "credentials": {
        "postgres": { "id": "CONFIGURE_ME", "name": "Sergeant Postgres" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "request-ok",
              "leftValue": "={{ $json.category }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "id": "categorize-ok",
      "name": "Categorize succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Every 5 minutes": {
      "main": [
        [
          {
            "node": "Claim pending enrichment jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim pending enrichment jobs": {
      "main": [
        [
          {
            "node": "POST /api/internal/categorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/internal/categorize": {
      "main": [
        [{ "node": "Categorize succeeded?", "type": "main", "index": 0 }]
      ]
    },
    "Categorize succeeded?": {
      "main": [
        [
          {
            "node": "Persist AI category and mark done",
            "type": "main",
            "index": 0
          }
        ],
        [{ "node": "Mark enrichment failed", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Kyiv" },
  "active": false,
  "tags": [
    { "name": "finyk" },
    { "name": "mono" },
    { "name": "ai" },
    { "name": "outbox" }
  ]
}
