ops/n8n-workflows/07-morning-briefing-push.json
{
  "name": "07 — Morning Briefing Push (07:30 Kyiv → all subscribers)",
  "nodes": [
    {
      "parameters": {
        "interval": [{ "field": "cronExpression", "expression": "30 7 * * *" }]
      },
      "id": "cron-morning",
      "name": "Cron 07:30 Kyiv",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ps.user_id FROM push_subscriptions ps WHERE ps.deleted_at IS NULL ORDER BY ps.user_id",
        "options": {}
      },
      "id": "get-subscribers",
      "name": "Get push subscribers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": { "id": "CONFIGURE_ME", "name": "Sergeant Postgres" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLIC_API_BASE_URL }}/api/push/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Secret", "value": "={{ $env.API_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"userId\": \"{{ $json.user_id }}\",\n  \"title\": \"☀️ Доброго ранку!\",\n  \"body\": \"Відкрий Sergeant — твій денний брифінг готовий\",\n  \"module\": \"hub\",\n  \"tag\": \"morning-briefing\"\n}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "send-push",
      "name": "POST /api/push/send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Cron 07:30 Kyiv": {
      "main": [[{ "node": "Get push subscribers", "type": "main", "index": 0 }]]
    },
    "Get push subscribers": {
      "main": [[{ "node": "POST /api/push/send", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Kyiv" },
  "tags": [{ "name": "sergeant" }, { "name": "push" }, { "name": "hub" }],
  "active": false
}
