ops/n8n-workflows/15-railway-deployment-notify.json
{
  "name": "15 — Railway Deployment Notify (webhook → Telegram #deploys)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "railway-deploy",
        "options": {}
      },
      "id": "railway-webhook",
      "name": "Railway Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst status = body.status ?? body.type ?? 'UNKNOWN';\nconst service = body.service?.name ?? body.serviceName ?? 'sergeant-api';\nconst env = body.environment?.name ?? body.environmentName ?? 'production';\nconst branch = body.deployment?.meta?.branch ?? body.branch ?? '—';\nconst commitMsg = body.deployment?.meta?.commitMessage ?? body.commitMessage ?? '—';\nconst commitHash = (body.deployment?.meta?.commitHash ?? body.commitHash ?? '').slice(0, 7);\nconst url = body.deployment?.url ?? body.deploymentUrl ?? '';\nconst duration = body.buildDuration ? `${Math.round(body.buildDuration / 1000)}s` : '—';\nconst ok = ['SUCCESS', 'DEPLOYED', 'ACTIVE'].includes(status.toUpperCase());\nreturn [{ json: { status, service, env, branch, commitMsg, commitHash, url, duration, ok } }];"
      },
      "id": "parse-payload",
      "name": "Parse Railway payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ALERT_CHAT_ID }}",
        "text": "={{ $json.ok ? '✅' : '❌' }} *Railway Deploy {{ $json.ok ? 'Success' : 'Failed' }}*\n\n🔧 Service: `{{ $json.service }}` ({{ $json.env }})\n🌿 Branch: `{{ $json.branch }}`\n📝 `{{ $json.commitHash }}` — {{ $json.commitMsg }}\n⏱ Duration: {{ $json.duration }}\n{{ $json.url ? '🔗 ' + $json.url : '' }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-deploy",
      "name": "Telegram → #deploys",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": { "id": "CONFIGURE_ME", "name": "Sergeant Ops Bot" }
      }
    }
  ],
  "connections": {
    "Railway Webhook": {
      "main": [[{ "node": "Parse Railway payload", "type": "main", "index": 0 }]]
    },
    "Parse Railway payload": {
      "main": [[{ "node": "Telegram → #deploys", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "Europe/Kyiv" },
  "tags": [{ "name": "sergeant" }, { "name": "railway" }, { "name": "deploy" }],
  "active": false
}
